.sideBar {
	width: 15%;
	min-height: 500px;
	margin-left: 15%;
	display: inline-block;
	vertical-align: top;
	background: #fff;
}
.mainBoard {
	width: 53%;
	display: inline-block;
	vertical-align: top;
	margin-left: 0;
}
.board {
	width: 8 0%;
	margin: 0 auto;
	padding: 20px 15px;
	text-align: left;
	background-color: rgba(80,80,80,.65);
	text-align: center;
}
.board h3 {
	color: darkred;
	font-weight: bold;
	padding-left: 15px;
	text-align: left;
}
.postContent {
	width: 95%;
	min-height: 100px;
	background: rgba(256,256,256,.9);
}
.postContent-focus {
	background: rgba(256,256,256,1);
}
.submitPost {
	display: block;
	margin: 15px auto 15px 30px;
}
.boardOther {
	margin: 2px auto 60px;
}
.boardOther h4 {
	text-align: left;
	color: darkred;
	margin-left: 50px;
	font-style: italic;
	font-size: 20px;
	font-weight: bold;
}
.wallPost {
	width: 95%;
	margin: 15px auto;
	padding-top: 10px;
	background-color: rgba(256,256,256,.9);
	border: 2px groove rgba(0,80,156,.6);
}
.msgContent {
	font-size: 17px;
	text-align: left;
	margin-left: 15px;
	min-height: 60px;
}
.info {
	background-color: rgba(170,170,170,.4);
	padding: 6px;
	font-style: italic;
	font-size: 12px;
	color: rgb(80,80,80);
}
.info span:first-child {
	margin-left: 650px;
}
.commentBar {
	width: 75%;
	min-height: 30px;
	margin-left: 10%;
	display: inline-block;
	vertical-align: top;
}
.commentSubmit {
	display: inline-block
	vertical-align: top;
}
.hidden{
	display: none;
}
.displayComments {
	text-align: left;
	padding-left: 5%;
	padding-right: 70px;
	color: rgb(40,40,40);
}
.displayComments span {
	font-style: italic;
	font-weight: bold;
	color: rgb(0,0,0);
}
.displayComments p {
	border-top: 1px solid rgb(70,70,70);
	line-height: 30px;
	margin-top: 0;
}
.displayComments p:first-child {
	border: none;
}